export JWEB_UPLOAD_DIR="./upload"
export JWEB_DB_PATH="jweb.db"
export JWEB_SESSION_KEY=".session.aes"
export JWEB_PORT="3000"
export JWEB_CLEANUP_INTERVAL_SECS="86400"
export JWEB_VERSION="0.0.0.0"

use flake
